*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}


/* classi in comune*/
.ms_radius{ /* classe per stondatura bottoni*/
    border-radius: 50px!important;
}

.ms_bgRed{
    background-color: #cd3d0f!important;
    color: white!important;
}

.ms_bgBlue{
    background-color: #2d64e6!important;
    color: white!important;
}

/* Sezione header*/
.ms_header_align{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.ms_shrink{
    max-width: 10%;
    padding: 10px;
}

/* sezione jumbotron e goty(it takes two)*/
#jumbotron, #goty{
    background-size: cover;
    background-position: center;
    height: 50vh;
}

#jumbotron div{
    position: relative;
    top: 35%;
}

#jumbotron img, #goty img{
    max-width: 50%;
}

#jumbotron{
    background-image: url("img/jumbo-bg.png");
}

#goty{
    background-image: url("img/it-takes-two-hero-banner-desktop.jpg");
}


/* sezione thumbnails*/
.ms_rounded{
    border-radius: 20px;
}

.ms_active{
    padding: 3px;
    border: 3px solid #318cd7;
}


/* Sezione ps5*/
#ps5 img{
    max-width: 100%;
}

#ps5 .ms_active{
    padding: 3px;
    border: 0;
    border-bottom: 3px solid #318cd7;
}
#ps5 .ms_inactive{
    opacity: 0.75;
}

#ps5 .col:hover img{
    border-bottom: 3px solid #318cd7;
    opacity: 1;
    cursor: pointer;
}


/* Sezione nuove uscite*/
#nuove-uscite{
    background-color: #1f1f1f;
}

#nuove-uscite img{
    max-width: 100%;
}

#nuove-uscite .ms_rounded{ /* Arrotondamento maggiore in questa sezione*/
    border-radius: 30px;
}


/* sezione ps4*/
#ps4 img{
    max-width: 100%;
}




/* media query resizing immagine*/
@media screen and (min-width: 768px){
    #goty img{
        max-width: 40%;
    }
}
