*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* classi in comune*/
.ms_radius{ /* classe per stondatura bottoni*/
    border-radius: 50px!important;
}

.ms_bgRed{
    background-color: #cd3d0f!important;
    color: white!important;
}

.ms_bgBlue{
    background-color: #2d64e6!important;
    color: white!important;
}

/* Sezione header*/
.ms_header_align{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.ms_shrink{
    max-width: 10%;
    padding: 10px;
}

/* sezione jumbotron*/
#jumbotron{
    background-image: url("img/jumbo-bg.png");
    background-size: cover;
    background-position: center;
    height: 50vh;
}

#jumbotron div{
    position: relative;
    top: 35%;
}

#jumbotron img{
    max-width: 40%;
}


/* sezione thumbnails*/
.ms_rounded{
    border-radius: 20px;
}

.ms_active{
    padding: 3px;
    border: 3px solid #318cd7;
}


/* Sezione ps5*/
#ps5 img{
    max-width: 100%;
}

#ps5 .ms_active{
    padding: 3px;
    border: 0;
    border-bottom: 3px solid #318cd7;
}
#ps5 .ms_inactive{
    opacity: 0.75;
}
