*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* classi in comune*/
.ms_radius{ /* classe per stondatura bottoni*/
    border-radius: 50px!important;
}

.ms_bgRed{
    background-color: #cd3d0f!important;
    color: white!important;
}

/* Sezione header*/
.ms_header_align{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.ms_shrink{
    max-width: 10%;
    padding: 10px;
}


#jumbotron{
    background-image: url("img/jumbo-bg.png");
    background-size: cover;
    background-position: center;
    height: 50vh;
}

#jumbotron div{
    position: relative;
    top: 50%;
}